{{ if .Site.Params.hero.enable | default true }}
<section id="hero" class="py-5 align-middle">
    <div class="container px-3 px-sm-5 px-md-5 px-lg-5 pt-lg-3">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 content {{ if .Site.Params.animate }}animate{{ end }}" id="primary-font">
                <span class="subtitle">
                    {{ .Site.Params.hero.intro }}
                </span>
                <h2>{{ .Site.Params.hero.title }}</h2>
                <h3>{{ .Site.Params.hero.subtitle }}</h3>
                <p class="hero-content">{{ .Site.Params.hero.content | markdownify }}</p>
                <div class="row">
                    <div class="col-auto h-100">
                        {{ if .Site.Params.hero.button.enable }}
                        <a href="{{ .Site.Params.hero.button.url }}" class="btn" {{ cond .Site.Params.hero.button.download "download" "" }}>
                            {{ .Site.Params.hero.button.name }}
                        </a>
                        {{ end }}
                    </div>
                    <div class="col-auto px-0 h-100">
                        {{- partial "sections/hero/social.html" . -}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-9 pt-5 image {{ if .Site.Params.animate }}animate{{ end }} px-5 px-md-5 px-lg-0 text-center">
                        <img src="{{ .Site.Params.hero.image }}"
                            class="img-thumbnail mx-auto{{ if .Site.Params.hero.roundImage }} rounded-circle{{ end }}"
                            alt="{{ .Site.Params.hero.imageAlt | default "Profile portrait" }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ if .Site.Params.hero.bottomImage.enable | default true }}
    <div class="hero-bottom-svg d-md-block d-lg-block d-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="201" height="201" viewBox="0 0 201 201">
            <path fill="currentColor" d="M100.5 0C45 0 0 45 0 100.5S45 201 100.5 201 201 156 201 100.5 156 0 100.5 0zm0 181C56 181 20 145 20 100.5S56 20 100.5 20 181 56 181 100.5 145 181 100.5 181z"/>
            </svg>
        </div>
        {{ end }}
    </section>
    {{ end }}